body {
  background-color: #eebb66;
}

#companylogo {
  border-radius: 5px;
  border: 5px solid #ffffff;
 }
 
.errmsg { 
  color: #ff0000;
  font-weight: bold;
}

#sidebar {
  background-color: #222222;
}

footer {
	background-color: #cccccc;
	height: 30px;
	vertical-align: middle;
	text-align: right;
	color: #000000;
	padding-top: 5px;
	padding-bottom: 5px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 999;
}