<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Call History</title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../css/dashboard.css" rel="stylesheet">
    <link href="../../css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/functions.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <button type="button" class="close" aria-hidden="true" onclick="javascript: window.focus();window.close();"><span class="glyphicon glyphicon-remove"></span></button>
          {@cname}
        </div>
        <div class="panel-body">
          <table class="table table-condensed">
            <thead>
              <tr style="background-color: black; color: white;">
                <th width="8%">Tag Date</th>
                <th width="22%">Disposition</th>
                <th width="30%">Remarks</th>
                <th width="15%">Agent</th>
              </tr>
            </thead>
            <tbody>
              <loop history>
              <tr>
                <td>{@tagdate}</td>
                <td>{@disposition}</td>
                <td>{@remarks}</td>
                <td>{@lastname}, {@firstname}</td>
              </tr>
              </loop history>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>