<style>
  .tab-panel {
    display: block;
    height:60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width:100%;
    border: 1px solid #22c;
    border-radius: 3px;
  }
  #clientsummary{
	  background-color: steelblue;
  }
  #documents{
    background-color: darkseagreen;
  }
  #cardchoice{
    background-color: lightgoldenrodyellow;
  }
  section {
    padding: 20px 0 20px 0;
  }
  .emailprompt {
    position: absolute;
    top: 120px;
    left: 0;
    width: 0vw;
    height: 80vh;
    visibility: hidden;
    z-index: 1;
    background-color: lightyellow;
    opacity: 0;
    padding: 10px;
  }
  #modalbg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #000000;
    opacity: 0;
  }
</style>
<script>
  function sendapp(apptype) {
    var element = apptype+'emailprompt';
    if (document.getElementById(element)==null) {
      alert('No available email account configuration for the selected action.');
    } else {
      var prompt = '#'+apptype+'emailprompt';
      $("#modalbg").css({'z-index':'9998','opacity':'0.2'});
      $(prompt).css({'z-index':'9999','visibility': 'visible'});
      $(prompt).animate({
        'opacity':'1',
        'width':'100vw'
      }, 200);
    }
  }

  function sendCancel(apptype) {
    var prompt = '#'+apptype+'emailprompt';
    $(prompt).animate({
      'opacity':'0',
      'width':'0vw',
    }, 200, function(){
      $("#modalbg").css({'z-index':'0','opacity':'0'});
      $(prompt).css({'z-index':'1','visibility': 'hidden'});
    });
  }

  function sendDraft(apptype) {
    var ehost = document.getElementById(apptype+'emailhost').value;
    var eport = document.getElementById(apptype+'emailport').value;
    var euser = document.getElementById(apptype+'emailusername').value;
    var epass = document.getElementById(apptype+'emailpassword').value;
    var ename = document.getElementById(apptype+'emailname').value;
    var ebody = document.getElementById(apptype+'msgbody').value;
    var esubj = document.getElementById(apptype+'subject').value;
    var ereci = document.getElementById(apptype+'recipient').value;
    var attach = document.getElementById(apptype+'attachment').value;
    $.ajax({
      url : "scripts/tl/sendemail.php",
      type : 'post',
      data : "host="+ehost+"&port="+eport+"&user="+euser+"&pass="+epass+"&name="+ename+"&body="+ebody+"&subj="+esubj+"&reci="+ereci+"&attach="+attach,
      traditional: true,
      async : false,
      //processData: false,  // tell jQuery not to process the data
      //contentType: false,   // tell jQuery not to set contentType
      error : function(request){
        //$('#uploadstatus').append(request.responseText);
      },
      success : function(data){
        alert(data);
      }
    });
    sendCancel(apptype);
  }

  function reloadFiles(selector,leadid) {
    $.ajax({
      url : "scripts/tl/reloadfiles.php",
      type : 'post',
      data : "leadid="+leadid,
      traditional: true,
      async : false,
      //processData: false,  // tell jQuery not to process the data
      //contentType: false,   // tell jQuery not to set contentType
      error : function(request){
        //$('#uploadstatus').append(request.responseText);
      },
      success : function(data){
        $('#'+selector)
        .empty()
        .append(data)
        ;
      }
    });
  }

  $(document).ready(function(){
    $('.tab-panel').scrollspy({ target: '#sidenav' });
    $(".nav-info a").on("click", function(){
      $(".nav-info").find(".active").removeClass("active");
      $(this).parent().addClass("active");
    });

    $('#uploadfiles').on("click", function(){
      var formData = new FormData($("#form-upload")[0]);
      //loop for add $_FILES["upload"+i] to formData
      for (var i = 0, len = document.getElementById('upload').files.length; i < len; i++) {
          formData.append("upload"+(i+1), document.getElementById('upload').files[i]);
      }

      //send formData to server-side
      $.ajax({
        url : "scripts/tl/upload.php",
        type : 'post',
        data : formData,
        dataType : 'html',
        async : true,
        processData: false,  // tell jQuery not to process the data
        contentType: false,   // tell jQuery not to set contentType
        error : function(request){
          //$('#uploadstatus').append(request.responseText);
        },
        success : function(data){
          $('#uploadstatus').append(data);
        }
      });
    });

  });
</script>
<div id="modalbg"></div>
<loop accounts>
<div id="{@usedfor}emailprompt" class="emailprompt">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3><strong>Sending email to {@clfirstname} {@cllastname}</strong></h3>
      </div>
      <div class="form-group">
        <label for="{@usedfor}emailhost" class="col-sm-4 control-label">Host</label>
        <div class="col-sm-6">
          <div class="input-group">
            <input type="text" class="form-control" id="{@usedfor}emailhost" name="{@usedfor}emailhost" maxlength="100" value="{@emailhost}" disabled>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" onclick="document.getElementById('{@usedfor}emailhost').disabled=!(document.getElementById('{@usedfor}emailhost').disabled);"><span class="glyphicon glyphicon-pencil"></span></button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="{@usedfor}emailport" class="col-sm-4 control-label">Port</label>
        <div class="col-sm-6">
          <div class="input-group">
            <input type="text" class="form-control" id="{@usedfor}emailport" name="{@usedfor}emailport" maxlength="100" value="{@emailport}" disabled>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" onclick="document.getElementById('{@usedfor}emailport').disabled=!(document.getElementById('{@usedfor}emailport').disabled);"><span class="glyphicon glyphicon-pencil"></span></button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="{@usedfor}emailusername" class="col-sm-4 control-label">Username</label>
        <div class="col-sm-6">
          <div class="input-group">
            <input type="text" class="form-control" id="{@usedfor}emailusername" name="{@usedfor}emailusername" maxlength="50" value="{@emailusername}" disabled>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" onclick="document.getElementById('{@usedfor}emailusername').disabled=!(document.getElementById('{@usedfor}emailusername').disabled);"><span class="glyphicon glyphicon-pencil"></span></button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="{@usedfor}emailpassword" class="col-sm-4 control-label">Password</label>
        <div class="col-sm-6">
          <div class="input-group">
            <input type="password" class="form-control" id="{@usedfor}emailpassword" name="{@usedfor}emailpassword" maxlength="50" value="{@emailpassword}" disabled>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" onclick="document.getElementById('{@usedfor}emailpassword').disabled=!(document.getElementById('{@usedfor}emailpassword').disabled);"><span class="glyphicon glyphicon-pencil"></span></button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="{@usedfor}emailname" class="col-sm-4 control-label">Sender's name (From:)</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="{@usedfor}emailname" name="{@usedfor}emailname" maxlength="50" value="{@emailname}">
        </div>
      </div>
      <div class="form-group">
        <label for="{@usedfor}recipient" class="col-sm-4 control-label">Recipient (To:)</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="{@usedfor}recipient" name="{@usedfor}recipient" maxlength="50" value="{@email}">
        </div>
      </div>
      <div class="form-group">
        <label for="{@usedfor}subject" class="col-sm-4 control-label">Subject</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="{@usedfor}subject" name="{@usedfor}subject" maxlength="50" value="{@emailname} Credit Card Requirements">
        </div>
      </div>
      <div class="form-group">
        <label for="{@usedfor}msgbody" class="col-sm-4 control-label">Message body</label>
        <div class="col-sm-6">
          <textarea type="text" class="form-control" id="{@usedfor}msgbody" name="{@usedfor}msgbody" rows="5">{@template}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="{@usedfor}attachment" class="col-sm-4 control-label">Attachment</label>
        <div class="col-sm-6">
          <div class="input-group">
            <select id="{@usedfor}attachment" name="{@usedfor}attachment" class="form-control"/>
              <option value=''></option>
            </select>
            <button type="button" class="btn btn-default" onclick="reloadFiles('{@usedfor}attachment',{@leadid});"><span class="glyphicon glyphicon-refresh"></span></button>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <button class="btn btn-danger" id="{@usedfor}sendCancel" class="sendCancel" onclick="sendCancel('{@usedfor}');">Cancel</button>
      </div>
      <div class="col-xs-2 col-xs-offset-8">
        <button class="btn btn-success" id="{@usedfor}sendDraft" class="sendDraft" onclick="sendDraft('{@usedfor}');">Send</button>
      </div>
    </div>
  </div>
</div>
</loop accounts>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h3><strong>{@completename}</strong></h3>
    </div>
    <div class="col-xs-6 margintop">
      <div class="btn-group pull-right" role="group" aria-label="...">
        <div class="btn-group pull-right" role="group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View / Print
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li {@menucbc}><a href="javascript: printapp('chinabank');"><img src="images/cbc-logo.png"/> Chinabank Application Form</a></li>
            <li {@menuewb}><a href="javascript: printapp('eastwestbank');"><img src="images/ewb-logo.png"/> Eastwest Bank Application Form</a></li>
            <li {@menumcc}><a href="scripts/tl/MBAppForm.php?leadid={@leadid}" target="_blank"><img src="images/mcc-logo.png"/> Metrobank Application Form</a></li>
            <li {@menurcbc}><a href="javascript: printapp('rcbc');"><img src="images/rcbc-logo.png"/> RCBC Application Form</a></li>
            <li {@menumpi}><a href="javascript: printapp('maybank');"><img src="images/mpi-logo.png"/> Maybank Application Form</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </div>
      </div>
      <div class="btn-group pull-right" role="group" aria-label="...">
        <div class="btn-group pull-right" role="group">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Send
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li {@menucbc}><a href="javascript: sendapp('chinabank');"><img src="images/cbc-logo.png"/> Chinabank Application Form</a></li>
            <li {@menuewb}><a href="javascript: sendapp('eastwestbank');"><img src="images/ewb-logo.png"/> Eastwest Bank Application Form</a></li>
            <li {@menumcc}><a href="javascript: sendapp('metrobank');"><img src="images/mcc-logo.png"/> Metrobank Application Form</a></li>
            <li {@menurcbc}><a href="javascript: sendapp('rcbc');"><img src="images/rcbc-logo.png"/> RCBC Application Form</a></li>
            <li {@menumpi}><a href="javascript: sendapp('maybank');"><img src="images/mpi-logo.png"/> Maybank Application Form</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <hr class="spacer"/>

  <form id="form-upload" class="form-horizontal" enctype="multipart/form-data" action="scripts/tl/savevalues-docs.php" method="POST">  
  <div class="row">
    <div id="sidenav" class="col-xs-4 col-md-3">
      <h5><strong>{@completename}</strong></h5>
      <hr class="spacer"/>
      <ul class="nav nav-pills nav-stacked nav-info">
        <li class="active"><a href="#documents">Documents Submitted</a></li>
        <li><a href="#cardchoice">Card Choices</a></li>
        <li><a href="#clientsummary">Client Summary</a></li>
      </ul>
    </div>

    <div class="col-xs-8 col-md-9">
      <div class="tab-panel" data-offset='120' data-spy="scroll" data-target="#sidenav">
        <section id="documents">
          <div class="col-sm-12">
            <hr/>
            <h4>Documents Submitted</h4>
            <hr/>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label">Files uploaded for this lead</label>  
            <div class="col-sm-6">
              <loop files>
                <ul>
                  <li><a href="uploads/{@filename}" target="_blank">{@filename}</a></li>
                </ul>
              </loop files>
            </div>
            <hr class="cardsep">
          </div>
          <div class="row">
            <input type="hidden" name="MAX_FILE_SIZE" value="10000000" />
            <label class="col-sm-4 control-label">Choose a files to upload:<br/>(Multiple files allowed)</label>
            <div class="col-sm-6">
              <input type="file" id="upload" name="upload[]" class="form-control" multiple/>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 col-sm-offset-5">
              <button type="button" id="uploadfiles" class="btn btn-warning">Upload Files</button>
            </div>
          </div>
          <hr class="cardsep">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-4" id="uploadstatus">
            </div>
          </div>
        </section>

        <section id="cardchoice">
          <div class="col-sm-12">
            <hr/>
            <h4>Card Choices</h4>
            <hr/>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <input type="checkbox" id="chinabank" name="chinabank" class="col-sm-1 cardchoice" value="checked" {@chinabank} disabled>
              <label for="chinabank" class="col-sm-2 control-label underlined">China Bank</label>
              <input type="checkbox" id="eastwestbank" name="eastwestbank" class="col-sm-1 cardchoice" value="checked" {@eastwestbank} disabled>
              <label for="eastwestbank" class="col-sm-2 control-label underlined">Eastwest Bank</label>
              <input type="checkbox" id="metrobank" name="metrobank" class="col-sm-1 cardchoice" value="checked" {@metrobank} disabled>
              <label for="metrobank" class="col-sm-2 control-label underlined">Metrobank</label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <input type="checkbox" id="rcbc" name="rcbc" class="col-sm-1 cardchoice" value="checked" {@rcbc} disabled>
              <label for="rcbc" class="col-sm-2 control-label underlined">RCBC</label>
              <input type="checkbox" id="maybank" name="maybank" class="col-sm-1 cardchoice" value="checked" {@maybank} disabled>
              <label for="maybank" class="col-sm-2 control-label underlined">Maybank</label>
            </div>
          </div>
        </section>

        <section id="clientsummary">
          <div class="col-sm-12">
            <hr/>
            <h4>Client Summary</h4>
            <hr/>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-sm-offset-2">Client Name on Database:</label>
            <div class="col-sm-6 control-label">
              {@completename}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-sm-offset-2 control-label">Edited Name:</label>
            <div class="col-sm-6">
              {@clfirstname} {@clmiddlename} {@cllastname}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-sm-offset-2 control-label">Agent Name:</label>
            <div class="col-sm-6">
              {@lastname}, {@firstname}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-sm-offset-2 control-label">List Name:</label>
            <div class="col-sm-6">
              {@listname}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-sm-offset-2 control-label">Company:</label>
            <div class="col-sm-6">
              {@company}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-sm-offset-2 control-label">Employee Position:</label>
            <div class="col-sm-6">
              {@empposition}
            </div>
          </div>
        </section>
      </div>  
    </div>
  </div>
  
  <hr class="spacer"/>

  <div class="row">
    <div class="col-xs-4 col-md-3">
      <p>Lead Information:</p>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#" onclick="showcallhistory({@leadid},'{@completename}')">Call History</a></li>
      </ul>
    </div>
    <div class="col-xs-5 col-md-6">
      <p>Remarks:</p>
      <textarea rows="5" style="width: 100%; resize: none;" class="form-control" id="remarks" name="remarks">{@remarks}</textarea>
    </div>
    <div class="col-xs-3 col-md-3">
      <p align="right">Disposition:</p>
      <p align="right">
        <select class="form-control" id="disposition" name="disposition" required>
          <loop dispositions>
            <option value="{@disposition}">{@disposition}
          </loop dispositions>
        </select>
      </p>
      <p align="right">
        <input type="hidden" id="agent" name="agent" value="{@loggeduserid}">
        <input type="hidden" id="leadid" name="leadid" value="{@leadid}">
        <input type="hidden" id="workingfolder" name="workingfolder" value="{@workingfolder}">
        <input type="submit" class="btn btn-success" value="Save" formnovalidate>
      </p>
    </div>
  </div>
  
  <hr class="spacer"/>
  </form>