<script>
  function showlead(leadid) {
    var nextlink = 'tl.php?show={@workingfolder}&leadid=' + leadid;
    window.location = nextlink;
  }
</script>

<div class="container">
  <div>
    <nav align="right">
      <ul class="pagination pagination-sm">
        <li><a href="?show={@workingfolder}&start={@prev}"><span class="glyphicon glyphicon-backward"></span> Previous</a></li>
        <li><a href="?show={@workingfolder}&start={@next}">Next <span class="glyphicon glyphicon-forward"></span></a></li>
      </ul>
    </nav>
  </div>
  <form name="sortfilter" class="form-horizontal" action="tl.php" method="get">
  <div class="input-group col-xs-12">
      <input type="hidden" id="show" name="show" value="{@workingfolder}">
      <span class="input-group-btn">
        <button type="button" class="btn btn-toggle btn-success" onclick="document.getElementById('appliedyes').checked=true;"><input type="radio" id="appliedyes" name="applied" value="checked" class="toggle" checked><span class="glyphicon glyphicon-check"></span></button>
      </span>
      <select class="form-control" id="appliedcard" name="appliedcard">
        <option value=""></option>
        <option value="chinabank">Chinabank</option>
        <option value="eastwestbank">Eastwest Bank</option>
        <option value="maybank">Maybank</option>
        <option value="metrobank">Metrobank</option>
        <option value="rcbc">RCBC</option>
      </select>
      <span class="input-group-addon">List filter</span>
      <select class="form-control" id="listid" name="listid">
        <option value=''></option>
        <loop list>
        <option value="{@listid}">{@listname}</option>
        </loop list>
      </select>
      <span class="input-group-addon">Sort by</span>
      <select class="form-control" id="sort" name="sort">
        <option value="completename">Database Name</option>
        <option value="a.leadid">Lead Id</option>
        <option value="listname">List Name</option>
        <option value="tagdate">Tag Date</option>
        <option value="agent">Agent</option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-success" type="submit">Apply filters / sort</button>
      </span>
  </div>
  </form>
  <div class="panel panel-primary">
    <table class="table table-condensed">
      <thead>
        <tr style="background-color: black; color: white;">
          <th width="8%">Lead ID</th>
          <th width="22%">Database Name</th>
          <th width="30%">Remarks</th>
          <th width="15%">Tag Date</th>
          <th width="10%">Agent</th>
          <th width="15">List Name</th>
        </tr>
      </thead>
      <tbody>
        <loop gridvalues>
          <tr onclick="showlead({@leadid})">
            <td>{@leadid}</td>
            <td>{@completename}</td>
            <td>{@remarks}</td>
            <td>{@tagdate}</td>
            <td>{@lastname}, {@firstname}</td>
            <td>{@listname}</td>
          </tr>
        </loop gridvalues>
      </tbody>
    </table>
  </div>
  <nav align="right">
    <ul class="pagination pagination-sm">
      <li><a href="?show={@workingfolder}&start={@prev}"><span class="glyphicon glyphicon-backward"></span> Previous</a></li>
      <li><a href="?show={@workingfolder}&start={@next}">Next <span class="glyphicon glyphicon-forward"></span></a></li>
    </ul>
  </nav>
</div>

<br><br>