Sir,

Please see attached file.

EastWestBank credit card requirements

Greetings!

Please see attachment regarding credit card application. Kindly
sign TWICE the application form on the "Card applicant's signature
over printed name", then email it back. These are the other
requirements:

For non-BDO card holders:
	* Valid Government ID's (Passport, GSIS or Unified ID, PRC, and Drivers License)
	* 3 specimen signature

For BDO card holders:
	* BDO credit card front face and 1 month BDO credit card Statement of Account (complete pages)

Kindly indicate your credit card number upon emailing of requirements.

Thank You.



This is a system generated email.

The information contained in this email is intended solely for the use of the
individual or entity to whom it is addressed and others authorized to receive it.
If you have received this e-mail in error, please delete it and notify
the sender as soon as possible. The contents of this e-mail may be
confidential and the unauthorized use, copying, or dissemination of it
and any attachments to it, is prohibited.