Greetings!

Please see attached file regarding credit card application. Kindly sign over PRINTED NAME in the application form on "Signature of Principal cardholder", then email it back. These are the other requirements:

  * Valid Government IDs (Passport, GSIS or Unified ID, PRC, and Drivers License)
  * 3 specimen signature

Thank you for applying for a Metrobank credit card.


NOTE:
If you have a supplementary card applicant, kindly sign the application form on "Signature of Supplementary cardholder", and attach a valid government ID.



This is a system generated email.

The information contained in this email is intended solely for the use of the
individual or entity to whom it is addressed and others authorized to receive it.
If you have received this e-mail in error, please delete it and notify
the sender as soon as possible. The contents of this e-mail may be
confidential and the unauthorized use, copying, or dissemination of it
and any attachments to it, is prohibited.