Greetings!

Please see attached file regarding credit card application.
Fill out the application form then email it back.
These are the other requirements:

Valid Government IDs (Passport, GSIS/SSS or Unified ID, PRC -front and back-, Voter's ID, and Drivers License)
	* 3 specimen signature
	* Any one proof of income
			- ITR2015 / W2
			- 2 months latest payslip
			- Latest Certificate of Employment w/ compensation
	* Proof of billing under your name and present address


Kindly attn to designated agent.

Thank you for applying RCBC credit card.



This is a system generated email.

The information contained in this email is intended solely for the use of the
individual or entity to whom it is addressed and others authorized to receive it.
If you have received this e-mail in error, please delete it and notify
the sender as soon as possible. The contents of this e-mail may be
confidential and the unauthorized use, copying, or dissemination of it
and any attachments to it, is prohibited.