<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>System - Login</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
    <div class="container">
      <div class="row">
        <p><br/><br/></p>
        <div class="col-xs-12 col-md-8">
          <img src="images/callbestlogo.jpg" width="600px" height="300px;" alt="Call Best Logo" id="companylogo"/>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="page-header">
                <h3>Member Login</h3>
                <h5><span class="errmsg">{@errmsg}</span></h5>
              </div>
              <form role="form" method="POST" action="login.php">
                <div class="form-group">
                  <label for="loginusername">Username</label>
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" id="loginusername" name="loginusername">
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="loginpassword">Password</label>
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
                    <input type="password" class="form-control" placeholder="Password" id="loginpassword" name="loginpassword">
                   </div>
                </div>
                <hr/>
                <button type="submit" class="btn btn-primary">Login</button>
                <p><br/></p>
              </form>    
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted" align="center">Call Best Outsourcing Services, Inc. 2015 &copy;</p>
      </div>
    </footer>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery-2.1.4.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>